---
import { FaInstagram, FaTiktok } from 'react-icons/fa';
const currentYear = new Date().getFullYear();

const links = {
  products: [
    { href: '/services-produits/equipements', text: 'Équipements' },
    { href: '/services-produits/accessoires', text: 'Accessoires' },
    { href: '/services-produits/chaussures', text: 'Chaussures' },
    { href: '/services-produits/materiel', text: 'Matériel' }
  ],
  company: [
    { href: '/entreprise', text: 'À propos' },
    { href: '/references', text: 'Partenaires' },
    { href: '/contact', text: 'Contact' },
  ],
  legal: [
    { href: '#', text: 'Mentions légales' },
    { href: '#', text: 'CGV' },
    { href: '#', text: 'Politique de confidentialité' }
  ]
};
---

<footer class="bg-gray-900 text-white pt-16 pb-8">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12 mb-12">
      <div>
        <a href="/" class="inline-block mb-6">
          <span class="text-2xl font-display font-bold">DYNASPORTS</span>
        </a>
        <p class="text-gray-400 mb-6">
          Votre partenaire de confiance pour l'équipement sportif professionnel.
        </p>
        <div class="flex gap-4">
          <a href="https://www.instagram.com/dynasports_sn?igsh=dHRzdHR3bHQ3aGNq&utm_source=qr" class="text-gray-400 hover:text-white">
            <span class="sr-only">Instagram</span>
            <FaInstagram className="h-6 w-6" />
          </a>
          <a href="https://www.tiktok.com/@dyna.sports?_t=ZN-8xruhvSFw18&_r=1" class="text-gray-400 hover:text-white">
            <span class="sr-only">TikTok</span>
            <FaTiktok className="h-6 w-6" />
          </a>
        </div>
      </div>
      
      <div>
        <h3 class="text-lg font-semibold mb-4">Produits</h3>
        <ul class="space-y-3">
          {links.products.map(link => (
            <li>
              <a href={link.href} class="text-gray-400 hover:text-white">
                {link.text}
              </a>
            </li>
          ))}
        </ul>
      </div>
      
      <div>
        <h3 class="text-lg font-semibold mb-4">Entreprise</h3>
        <ul class="space-y-3">
          {links.company.map(link => (
            <li>
              <a href={link.href} class="text-gray-400 hover:text-white">
                {link.text}
              </a>
            </li>
          ))}
        </ul>
      </div>
      
      <div>
        <h3 class="text-lg font-semibold mb-4">Informations légales</h3>
        <ul class="space-y-3">
          {links.legal.map(link => (
            <li>
              <a href={link.href} class="text-gray-400 hover:text-white">
                {link.text}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </div>
    
    <div class="border-t border-gray-800 pt-8">
      <p class="text-center text-gray-400">
        © {currentYear} <a target="_blank" href="https://mbayedione.xyz/"> #NioulBoy<a/>. Tous droits réservés.
      </p>
    </div>
  </div>
</footer>